p, label, h2, button, input {
    margin-left: 0.5%;
}

button {
background-color: transparent;
height: 40px;
border: none;
font-weight: 600;
padding: 0 20px;
border-radius: 8px 8px 8px 8px;
color: #fff;
cursor: pointer;
border: solid;
}

button:disabled {
    cursor: not-allowed;
}

.infoTroughtCheck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    align-items: center;
}

mat-icon {
    color: var(--icon-color);
    margin-left: -10px;
}

mat-stepper, mat-form-field, mat-option {
    background-color: var(--header-bg-color);
}

mat-stepper {
    margin-left: -15px;
}

mat-label, mat-select, mat-option {
    color: var(--body-color);
}

.overview-card:hover {
background-color: var(--active-color);
transition: none;
transform: scale(1);
}

.overview-card:hover svg {
box-shadow: none;
}

.job-overview-buttons .search-buttons.time-button,
.job-overview-buttons .search-buttons.level-button {
background-color: #575ad8;
color: #fff;
}

.job-overview-card {
width: 300px;
margin-right: 20px;
}

.job-card-title,
.job-stat {
color: #fff;
}
.job-card-subtitle,
.job-day {
color: #dedede;
}

.overview-wrapper .heart {
color: #fff;
border-color: #fff;
}

.overview-wrapper:hover .heart:hover {
fill: red;
stroke: red;
transform: scale(1.1);
}

.job-overview {
display: flex;
flex-grow: 1;
display: none;
animation: slide .6s both;
}

.job-overview-cards {
display: flex;
    flex-direction: column;
    width: 330px;
    height: 100%;
    flex-shrink: 0;
}

.job-card {
padding: 20px 16px;
background-color: var(--header-bg-color);
border-radius: 8px;
cursor: pointer;
transition: .2s;
}

.job-card svg {
width: 46px;
padding: 10px;
border-radius: 8px;
}
.job-card-title {
font-weight: 600;
margin-top: 16px;
font-size: 14px;
color: var(--body-color);
}
.job-card-subtitle {
color: var(--subtitle-color);
font-size: 13px;
margin-top: 14px;
line-height: 1.6em;
}
.job-card-header {
display: flex;
align-items: flex-start;
}
.job-card:hover {
transform: scale(1.02);
}

.job-explain {
background-color: var(--header-bg-color);
border-radius: 0px 0px 8px 8px;
width: 100%
}

.startPosition .job-explain {
    height: 560px !important
}

.job-bg {
border-radius: 8px 8px 0 0;
width: 100%;
height: 300px;
transition: .3s;
/* position: relative; */
}

.job-logos {
/* position: initial; */
margin-bottom: -36px;
padding: 0 20px;
}

.job-logos svg {
width: 66px;
padding: 12px;
background-color: #fff;
border-radius: 10px;
border: 4px solid var(--header-bg-color);
}

.job-title-wrapper {
display: flex;
align-items: center;
}

.job-card-title {
font-size: 20px;
margin-top: 0;
font-weight: 600;
}

.job-action {
display: flex;
align-items: center;
margin-left: auto;
}

.job-action svg {
width: 32px;
border: 1px solid var(--border-color);
color: var(--subtitle-color);
border-radius: 8px;
padding: 6px;
}

.job-action + svg {
margin-left: 12px;
}

.job-explain-content {
padding: 50px 25px 30px;
}

.job-subtitle-wrapper {
display: flex;
align-items: center;
margin-top: 20px;
}

.explain-bar {
    margin-top: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    height: 66px;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
}
.explain-title {
    color: var(--subtitle-color);
    font-size: 12px;
    line-height: 40px;
    white-space: nowrap;
}
.explain-subtitle {
    font-size: 13px;
    font-weight: 500;
    margin-top: -2px;
    white-space: nowrap;
}
.explain-contents {
    height: 66px;
}

.explain + contents {
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
}

.overview-text {
margin-top: 30px;
}

.overview-text-header {
font-weight: 600;
font-size: 20px;
margin-bottom: 25px;
}
.overview-text-subheader {
font-size: 20px;
line-height: 2em;
}

.overview-text-item {
font-size: 15px;
/* position: inherit; */
display: flex;
margin-top: 20px;
}

.overview-text-item:before {
content: "";
border: 2px solid #61bcff;
border-radius: 50%;
height: 8px;
width: 8px;
margin-right: 8px;
flex-shrink: 0;
margin-top: 0.2%;
}

/* .detail-page { */
.job-overview {
    display: flex;
    padding: 15px;
}
.job-cards,
.searched-bar {
    display: none;
}
@media screen and (max-width: 1300px) {
    .search-type {
    display: none;
    }
    .searched-jobs {
    padding-left: 0;
    }
}

#currentCard {
    background-color: var(--active-light-color);
}

input {
    margin-left: 7px;
}

input::-webkit-file-upload-button {
    visibility: hidden;
}

input::before {
    content: 'Select File';
    color: var(--body-color);
    display: inline-block;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;
    font-weight: 400;
}

mat-form-field {
    width: 250px;
}

#problemInFile {
    color: red;
}

/* @media screen and (max-width: 760px) {
    .detail-page .job-overview-cards {
     display: none;
}
.job-explain {
    margin-left: 0;
   }
}

@media screen and (max-width: 730px) {
    .job-cards {
        grid-template-columns: repeat(2, 1fr);
      }
}

@media screen and (max-width: 620px) {
    .job-cards {
      grid-template-columns: repeat(1, 1fr);
    }
    .header-menu a:not(:first-child) {
     margin-left: 10px;
    }
   }
   
   @media screen and (max-width: 590px) {
    .header-menu {
     display: none;
    }
} */