<!-- <div class="header">
    <div class="logo">
     <a mat-raised-button href="">
     <p id = "title-img"><img src = "../../assets/Images/Bamza_108.png" width = "45px" height = "45px"></p>
     <p id = "title-project"> Decoder Integrity Check </p></a>
    </div>
    <div class="header-menu">
     <a class="homeActive" mat-raised-button href="">Home Page</a>
     <a class="uplaodFileActive" mat-raised-button href="/upload-files">Upload Files</a>
     <a class="historyChecksActive" mat-raised-button href="/history-checks">History Check</a>
    </div>
     <div class="dark-light">
      <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
       <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
    </div>
   </div> -->
<router-outlet></router-outlet>
